# ADK Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_ASSISTANT_ID=agent
# Do NOT prefix this with "NEXT_PUBLIC_" as we do not want this exposed in the client.
ADK_API_URL=http://localhost:8080
ADK_API_KEY=

# Development ADK Configuration (quickstart) - Uncomment to use
# NEXT_PUBLIC_ASSISTANT_ID="agent"
# This should be the deployment URL of your ADK server
# ADK_API_URL="http://localhost:8080"
# This should be the URL of your website + "/api". This is how you connect to the API proxy
# NEXT_PUBLIC_API_URL="http://localhost:3000/api"
# ADK_API_KEY=""

# Postgres Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=adk_chat
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
